.error__button {
    margin: 184px 0px 0px 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .error__button {
        margin: 150px 0px 0px 0px;
        font-size: 12px;
        line-height: 15px;
    }
}